.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
__pycache__/
data/test/*
data/train/*
data/validation/*
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover