
<title>Fraud Detection using Graph Databases</title>
<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="p-5">
	<h1>Fraud Detection using Graph Databases Step 2:</h1>

    <form action="" method="post" novalidate>
    	<div class="row">
		        <p>
		            {{ form.customerid.label }}
		            {{ form.customerid(class_="form-control") }}
		        </p>

    	</div>

    	<div class="row">
		        <p>
		            {{ form.merchantid.label }}
		            {{ form.merchantid(class_="form-control") }}
		        </p>
	    	
       </div>

       <div class = "row">
       		
		        <p>
		            {{ form.model.label }}
		            {{ form.model(class_="form-control") }}
		        </p> 
	   		
        </div>    

        <p>{{ form.run(class_="btn btn-success") }}</p>
    </form>


<!-- <div class="form-group">
	<label for="customerid">Customer ID</label>
	<input type="text" class="form-control" id="customerid" name="customerid"></div>
	<p class="form-control">{{ form.run() }}</p>     -->

</div>