<!DOCTYPE html>
<html>
	<title>Fraud Detection using Graph Databases</title>
	<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<div class="p-5">
		<h1 class = "mb-4">Fraud Detection using Graph Databases</h1>
		<br>

	    <form action="" method="post" novalidate>

	    	<div class="row">
			    <div class="form-group mx-sm-3 mb-2">    
		            {{ form.customerid.label }}
		            {{ form.customerid(class_="form-control") }}
	        	</div>

	        	<div class="form-group mx-sm-3 mb-2">
		            {{ form.merchantid.label }}
		            {{ form.merchantid(class_="form-control") }}
		        </div>  

	        	<div class="form-group mx-sm-3 mb-2">
		            {{ form.model.label }}
		            {{ form.model(class_="form-control") }}
		            
		        </div>

		        <div class="form-group mx-lg-4 pt-4  mt-2">	        	
		        	{{ form.run(class_="btn btn-success ") }}
		        </div>

	    	</div>
	    	<div id = "resultsDisplay" class ="row"> 
	 	        <div class="form-group mx-lg-4 pt-4  mt-2 white-space: pre-wrap;">
	 	        	<h4 class="text-success"> {{form.results.data}} </h4>
		        </div>
		        <div>
		        	<p>
					{% for i in form.allres %}
						<ul>
							<li>
					    		Transaction amount: {{ i[0] }}
					    	    was a  {% if i[1] == 0 %} non-fradulent transaction. {% endif %}
					    	    		 {% if i[1] == 1 %} fradulent transaction. {% endif %}
					    	    Predicted: {% if i[2] == 0 %} non-fradulent transaction. {% endif %}
					    	    		 	  {% if i[2] == 1 %} fradulent transaction. {% endif %} 	 
					    	</li>
						</ul>
					{% endfor %}
					<p>
		        </div>
			</div>    
	    </form>

	<!-- 	<form action="" method="get">
	     		
		</form>  -->   


	<!-- <div class="form-group">
		<label for="customerid">Customer ID</label>
		<input type="text" class="form-control" id="customerid" name="customerid"></div>
		<p class="form-control">{{ form.run() }}</p>     -->

	</div>

	<div class="p-5">
		<form action="/step3" method="GET">
			<button type="submit" class= "btn btn-success">Show Evaluation Metrics</button>
		</form>
	</div>

</html>